<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>gird</title>
	<style>
		.Grid {
			border: 1px solid #ccc;
			display: flex;
		}

		.Grid-cell {
			border: 1px solid red;
			background-color: #eee;
			flex: 1;
		}

		.Grid-cell.u-lof3 {
			flex: 0 0 33.3333%;
		}

		.Grid-cell.u-lof4 {
			flex: 0 0 25%;
		}
	</style>
</head>

<body>
	<div class="Grid">
		<div class="Grid-cell u-lof4">left 25%</div>
		<div class="Grid-cell">content</div>
		<div class="Grid-cell u-lof3">right 33.3333%</div>
	</div>
</body>

</html>